matrix:
  include:
    - os: osx
      language: generic
    - os: linux
      dist: xenial
      language: python  
      python:
        - "3.5"
      services:
        - xvfb
    - os: linux
      dist: xenial
      language: python  
      python:
        - "3.6"
      services:
        - xvfb
    - os: linux
      dist: xenial
      language: python  
      python:
        - "3.7"
      services:
        - xvfb


# osx deps
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew uninstall --ignore-dependencies python; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew unlink python@2; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install python3; fi  
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew upgrade freetype; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew link --overwrite freetype; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install libpng; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update && brew install git-lfs; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then git lfs install; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then git lfs pull; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install software-properties-common; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo add-apt-repository -y ppa:git-core/ppa; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then curl -s https://packagecloud.io/install/repositories/github/git-lfs/script.deb.sh | sudo bash; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install git-lfs; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then git lfs install; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then git lfs pull; fi


install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install libblas-dev liblapack-dev libatlas-base-dev gfortran libfreetype6-dev libpng-dev; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install subversion; fi
  # Temporary fix for the issue with MarkupSafe 2.0.0a1 which is automatically installed as a required library when installing populse_mia (python3 setup.py install, below) and that crashs - 16/04/2020
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]] && [[ "$TRAVIS_PYTHON_VERSION" == "3.5" ]]; then pip3 install MarkupSafe==1.1.1; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install svn; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then pip3 install --upgrade numpy; fi
  - pip3 install --upgrade cython
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then pip3 install --upgrade pywavelets; fi
  - pip3 install 'scipy<1.5'
  - python3 setup.py install
  - pip3 install codecov
  #- pip3 install --upgrade --force-reinstall pyqt5
  - pip3 install --force-reinstall pyqt5==5.11.3
  - pip3 install --force-reinstall PyQt5-sip==4.19.13
  - pip3 install -U 'six>=1.13'
  - cd ..
  - git clone --depth=50 --branch=2.0 https://github.com/populse/populse_db.git
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then sudo pip3 uninstall --yes populse_db; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then pip3 uninstall --yes populse_db; fi
  - cd populse_db
  - pip3 install -e .[postgres]
  #- pip3 install --force-reinstall lark-parser==0.6.7
  - cd ..
  - git clone --depth=50 --branch=master https://github.com/populse/soma-base.git
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then sudo pip3 uninstall --yes soma-base; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then pip3 uninstall --yes soma-base; fi
  - cd soma-base
  - python3 setup.py install
  - cd ..
  - git clone --depth=50 --branch=master https://github.com/populse/soma-workflow.git
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then sudo pip3 uninstall --yes soma-workflow; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then pip3 uninstall --yes soma-workflow; fi
  - cd soma-workflow
  - python3 setup.py install
  - cd ..
  - git clone --depth=50 --branch=master https://github.com/populse/capsul.git
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then sudo pip3 uninstall --yes capsul; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then pip3 uninstall --yes capsul; fi
  - cd capsul
  - python3 setup.py install
  - cd ..
  - cd populse_mia
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export PYTHONPATH="$PYTHONPATH:/home/travis/build/populse/populse_mia/python"; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export PYTHONPATH="$PYTHONPATH:/Users/travis/build/populse/populse_mia/python"; fi
  #- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export PYTHONPATH="$PYTHONPATH:/home/travis/build/populse/soma-base/python"; fi
  #- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export PYTHONPATH="$PYTHONPATH:/Users/travis/build/populse/soma-base/python"; fi

  - "export DISPLAY=:99.0"
  #- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sh -e /etc/init.d/xvfb start; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then ( sudo Xvfb :99 -ac -screen 0 1024x768x8; echo ok )& fi
  - sleep 3 # give xvfb some time to start

script:
  - python3 -V
  - python3 ./python/populse_mia/test.py -v
  - coverage run ./python/populse_mia/test.py

after_success:
- codecov
